*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: 0;
}
html{
    scroll-behavior:smooth;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: fit-content;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav p{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #00d0ff;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #00d0ff;
}
/* ---------- About --------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    width: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.about-me{
    font-size: 20px;
    text-align: justify;

}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00d0ff;
    position: absolute;
    left: 0px;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #04aed4;
    font-size: 14px;
}
.tab-contents{
    display: none;
    text-align: justify;
}
.tab-contents.active-tab{
    display: block;
}
/* -------projects--------- */
#projects{
    padding: 30px 0;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects-list div{
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: all 0.5s;
    display: inline-block;
}
.projects-list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projects-list a{
    background: #262626;
    color: #04aed4;
    text-decoration: none;
}
.projects-list p{
    height: 0;
    text-align: justify;
    overflow: hidden;
    transition: height 0.5s;
    
}
.projects-list div.more{
    display: flex;
    align-items: center;
}
.projects-list div:hover{
    background: #04aed4;
    transform: translateY(-10px);
}
.projects-list .amazon:hover p{
    height:fit-content;
}
.projects-list .diagnostics:hover p{
    height:fit-content;
}
.projects-list div a:hover{
    background: none;    
    color: #080808;
    font-weight: bolder;
    cursor: pointer;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #04aed4;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    background-color: #04aed4;
}
/* ------Contact------ */
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #00d0ff;
    font-size: 20px;
}
.social-icons a{
    display: inline-block;
    margin: 30px 10px;
    color: #ffff;
    text-decoration: none;
    font-size: 30px;
    transition: 0.5s;
}
.social-icons a:hover{
    color: #04aed4;
    transform: translateY(-5px);
}
.contact-right{
    flex-basis: 65%;
}
.btn.btn2{
    display: flex;
    background-color: #00d0ff;
    align-items: center;
}
.btn.btn2:hover{
    color: #080808;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    margin: 10px;
    padding: 15px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
}
form .btn2{
    padding: 14px 60px;
    margin: 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    margin-top: 20px;
    background-color: #262626;
    font-weight: 300;
}
.copyright a i{
    color: #ababab;
}
.copyright a i:hover{
    color: #ff004f;
}
.copyright a i::after{
    text-decoration: #ff004f;
}
/* ----------css for small screens----------- */
nav .fa-solid{
    display: none;
}


@media only screen and (max-width: 600px) {
    #header{
        background-image: url(images/phone-background.png);
        height: 80vh;
    }
    .header-text{
        text-shadow: 1px 7px 9px#080808;
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color:#04aed4;
        position: fixed;
        top: 0;
        right: -200px;
        width: 160px;
        height: fit-content;
        padding-top: 45px;
        transition: right 0.6s;
    }
    nav ul li{
        display: block;
        margin: 20px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 15px;
        left: 20px;
    }
    nav ul .fa-solid.fa-angles-right{
        color: #080808;
    }
    @keyframes vibrate {
        from{
            transform: translateX(0px);
        }
        to{
            transform: translateX(-10px);
        }
    }
    nav .fa-solid.fa-angles-left{
        color: #04aed4;
        animation: vibrate 1s ease-in-out 2s infinite alternate;
    }
    .header-text{
        margin-top: 70%;
    }
    .about-me{
        text-align:left;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-right{
        margin-right: 10%;
    }
    .btn.btn2{
        display: flex;
        margin-top: 5px;
        align-items: center;
    }
}
#msg {
    color: #04aed4;
    font: bolder;
    display: block;
    margin: -10px;
}